<%-include("partial/header") %>
<div class="container-fluid">
    <div class="row">
        <%-include ("partial/sidebar")%>
                    
        <div class="card mt-5 mr-5 ml-5" style="height: 40vh; box-shadow: 0px 3px 3px gray;">
            <img class="card-img-top " src="../../images/Users_card.png" alt="" style="height: 20vh; ">
            <div class="card-body">
                <h4 class="card-title">Patients</h4>
                <p class="card-text">
                    <a href="allUser">click me</a>
                </p>
            </div>
        </div>

        <div class="card mt-5 mr-5 ml-5" style="height: 40vh;  box-shadow: 0px 3px 3px gray;">
            <img class="card-img-top" src="../../images/booking_card.jpg" alt="" style="height: 20vh; ">
            <div class="card-body">
                <h4 class="card-title">Booking</h4>
                <p class="card-text">
                    <a href="allBooking">click me</a>
                </p>
            </div>
        </div>

        <div class="card mt-5 mr-5 ml-5" style="height: 40vh;  box-shadow: 0px 3px 3px gray;">
            <img class="card-img-top" src="../../images/report_card.png" alt="" style="height: 20vh; ">
            <div class="card-body">
                <h4 class="card-title">All Reportes</h4>
                <p class="card-text">
                    <a href="allReport">click me</a>
                </p>
            </div>
        </div>
       
    </div>
 
</div>    
<%-include("partial/footer")%>