<%-include ("partial/header")%>
<%-include ("partial/nav")%>
     <div class="container-fluid p-0">
          <div class="row-fluid">
              <div class="col-lg-12  p-0">
                  <div id="carouselId" class="carousel slide" data-ride="carousel">
                      <div class="carousel-inner" role="listbox">
                          <div class="carousel-item active">
                              <img src="/images/about.jpg" alt="First slide">
                          </div>
                      </div>
                  </div>
              </div>
          </div>



        <div class="row">
            <div class="col-lg-2"> </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-6">
                        <img class="mt-5 mb-5" src="images/About1.jpg" style=" height: 50vh; width: 60vh; border-radius:5vh; box-shadow: 5px 5px 5px gray;">
                    </div>
                    <div class="info col-lg-6 mt-5 mr-6">
                        <h3 style="color: rgb(57, 57, 238);">About ABC Pathology Lab</h3>
                        <br>
                        <p>
                            Quality, Accurate Results, Patient Service with 
                            care and Compassion and bringing value to 
                            diagnostic needs of the society forms our life 
                            at ABC Pathology.
                        </p>
                        <br>
                        <p>
                            ABC Pathology was the first 24 hours 
                            open fully automated standalone laboratory in Mumbai.
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                             Nobis dignissimos consequuntur sequi soluta exercitationem 
                             minus dolores unde eaque. Dolorum libero odit obcaecati
                              accusantium quam cupiditate minus porro quidem tempora delectus?
                              Nobis dignissimos consequuntur sequi soluta exercitationem 
                            
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2"> </div>
        </div>


        <div class="row-fluid p-3" style="background-image: url(/images/bg.avif); background-size: cover; height: 100vh; width: 100vw;">
                <h5 class="text-center">Why choose us?</h5>
                 <h2 class="text-center mt-3">Know why were the best laboratory around</h2>

                 <div class="row mt-3 mb-3">
                     <div class="col-lg-2"> </div>
                     <div class="col-lg-8">
                         <div class="row">
                             <div class="col-lg-7">
                                 <img class="mt-5 mb-5" src="images/about3.jpg" style=" height: 50vh; width: 70vh; border-radius:5vh; box-shadow: 5px 5px 5px gray;">
                             </div>
                             <div class="col-lg-5 mt-5 mr-6 ">
                                <h3 style="color: rgb(57, 57, 238);">Quality</h3>
                                <br>
                                <h5>✅ Variety of Services</h5>
                                <br>
                                <h5>✅ Emergency Services</h5>
                                <br>
                                <h5>✅ Expert Doctors</h5>
                                <br>
                                <h5>✅ Simple and Fast</h5>
                                <br>
                                <h5>✅ Reliable</h5>
                             </div>
                         </div>
                     </div>
                     <div class="col-lg-2"> </div>
                 </div>
        </div>


  
<%-include ("partial/footer")%>