<%-include ("partial/header")%>
<%-include ("partial/nav")%>

    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-lg-12">
                <div id="carouselId" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <img src="/images/contatc.jpg" alt="First slide">
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row-fluid mt-5 mb-3 text-center">
            <h1>  Get In Touch </h1>
        </div>
        
        <div class ="row  mb-5 text-center">

            <div class="col-lg-2"></div>

                <div class="card mr-4 ml-5" style="box-shadow: 5px 5px 5px gray;">
                    <img class="card-img-top" src="images/location.webp" style="height: 20vh;">
                    <div class="card-body">
                        <h4 class="card-title">Location</h4>
                        <p class="small-desc">74 Parel, Mumbai - 400012
                        </p>
                    </div>
                </div>

                <div class="card  mr-4 ml-5" style="box-shadow: 5px 5px 5px gray;">
                    <img class="card-img-top" src="images/mail.png" style="height: 20vh;">
                    <div class="card-body">
                        <h4 class="card-title">Mail</h4>
                        <p class="small-desc"> manjeetsingh802152@gmail.com
                        </p>
                    </div>
                </div>

                <div class="card ml-5" style="box-shadow: 5px 5px 5px gray;">
                    <img class="card-img-top" src="images/call.png" style="height: 20vh;">
                    <div class="card-body">
                        <h4 class="card-title">Call</h4>
                        <p class="small-desc">📞 Call Us : +91 6203830865
                        </p>
                    </div>
                </div>

                <p class="map mt-5" style="box-shadow: 0px 0px 15px gray; width: 100%;" >
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d28817.03205100746!2d84.39974887838626!3d25.467367406394185!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x398d7c9fe13eb357%3A0xcdf6f43d398678a8!2sJagdishpur%2C%20Bihar%20802158!5e0!3m2!1sen!2sin!4v1754502847877!5m2!1sen!2sin" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </p>

                <div class="col-lg-2"></div>
                <div class="info form-body col-lg-8 pb-3 pl-5 pr-5 pt-5" 
                style=" background-color: rgb(255, 255, 255);
                box-shadow: 0px 0px 15px gray; border-radius: 15px; position:  relative; top:-90px; 
                " >
                    <h5 class="mt-2 mb-2" style="color: rgb(52, 52, 231); font-family: fantasy;">SEND US MESSAGE</h5>
                    <h1 class="mt-2 mb-5" style="font-family: system-ui"><b>Have any question <br> let us know</b> </h1>
                    <form action="">
                        <div class="form-group ">
                            Your Name
                            <input type="text"
                            class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
                        </div>
                        <div class="form-group">
                            Your Email
                            <input type="email"
                            class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
                        </div>
                        <div class="form-group">
                            Subject
                            <input type="text"
                                class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
                        </div>
                        <div class="form-group">
                            Your message (optional)
                            <textarea class="form-control" name="address" id="" rows="10"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>

                </div>
                <div class="col-lg-2"></div>
    </div>

<%-include ("partial/footer")%>